<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <mat-input-container>
        <input id="firstName" type="text" matInput placeholder="Digite su nombre" formControlName="firstName">
    </mat-input-container>

    <mat-input-container>
        <input id="lastName" type="text" matInput placeholder="Digite su apeelido" formControlName="lastName">
    </mat-input-container>

    <mat-input-container>
        <input id="email" type="email" matInput placeholder="Digite su correo" formControlName="email">
    </mat-input-container>

    <mat-input-container>
        <input id="password" type="password" matInput placeholder="Digite su contraseña" formControlName="password">
    </mat-input-container>
    <button type="submit" mat-raised-button color="accent">Crear Usuario</button>
    <p style="text-align: center">
        ¿Ya tienes un Usuario?
        <a mat-button color="primary" [routerLink]="['/signin']">Iniciar sesión</a>
    </p>
</form>